<footer class="footer py-3 px-3 mt-auto navbar-footer-custom">
    <span>
        &copy;YuruKyan 2021 <a href="https://github.com/TicTacTris/YuruKyan" class="bi-github" role="img" aria-label="GitHub"></a>
    </span>
</footer>