body {
    background-color: #E76F51;
}

.navbar-footer-custom,.nav-link {
    background-color: #E9C46A;
    color: #264653;
}

.navbar-brand {
    color: #264653;
    font-weight: bold;
    font-size: x-large;
}

.card-img-top {
    background-color: #F4A261;
}

#card-login, #card-register {
    color: #264653;
    background-color: #E9C46A
}

#btn-login, #btn-register {
    background-color: #2A9D8F;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}
