body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/assets/yurucamp2.jpg");
    background-size: cover;
    background-position: center;
}

textarea {
    resize: none;
}

.navbar-footer-custom,.nav-link {
    background-color: #9DD9D2;
    color: #392F5A;
}

.transparent-background {
    padding: 1em;
    color: #392F5A;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient( rgba(255,255,255,0.6), rgba(255,255,255,0.6))
}

.navbar-brand {
    color: #392F5A;
    font-weight: bold;
    font-size: x-large;
}

.cardBG {
    padding: 1em;
    font-weight: bold;
    color: #392F5A;
    background-color: #F4A261;
    border-radius: 10px;
}

#btn-login, #btn-register {
    background-color: #392F5A;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}
